<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>文档打印</title>
<link rel="stylesheet" href="/static/ZrCollEngine/Print/print.css" type="text/css">
</head>
<script type="text/javascript">
   	function nomenu(){
	   	return false;
   	}
   	document.oncontextmenu=nomenu;
</script>
<body>
<br>
<center>
  <iframe id="doc" name="doc" src="/iframe?page=/ZrCollEngine/Print/loading.html" width="791" height="1076" marginwidth="0" marginheight="0" border="0" frameborder="0" scrolling="no">
  </iframe>
</center>
</body>
</html>
