body {
	margin-left: 60px;
	margin-top: 30px;
}
table {
	word-break:break-all;
}
input {
	BORDER-RIGHT: #000000 0px solid; BORDER-TOP: #000000 0px solid;
	BORDER-LEFT: #000000 0px solid; BORDER-BOTTOM: #000000 1px solid;
}

.h1 {
	font-family:"宋体"; font-size:23px;
}
.h2 {
	font-family:"宋体"; font-size:30px; font-weight:bold;
}
.h3 {
	font-family:"宋体"; font-size:20px;
}
.h4 {
	font-family:"宋体"; font-size:14px;
}
.h5 {
	font-family:"宋体"; font-size:15px;
}
.h6 {
	font-family:"宋体"; font-size:16px;
}


.k1 {
	font-family:"宋体"; font-size:25px; line-height:200%; font-weight:bold;
}
.k2 {
	font-family:"宋体"; font-size:19px;
}
.k3 {
	font-family:"宋体"; font-size:15px; line-height:200%;
}

.k4 {
	font-family:"黑体"; font-size:25px; line-height:200%; font-weight:bold;
}
.k6 {
	font-family:"宋体"; font-size:16px;
}

.k7 {
	font-family:"宋体"; font-size:12px;
}

