<HTML>
<HEAD>
<TITLE></TITLE>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript">
function reclose(){
    $('#win').window('close');
    var s1 = document.Attcheck.s1.value;
    setAttcheck(s1);
}
setTimeout("reclose();",600);
</script>
</HEAD>

<FORM method="post" name="Attcheck" action="">
<input Type="hidden" name="s1" th:value="${AttMessage}">
<br>
<center>
<Font class="WriteSign">提示：正在读取数据...</font>
<center>
</FORM>
</HTML>
