<HTML>
<HEAD>
<TITLE></TITLE>
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link REL="stylesheet" type="text/css" href="/static/Zrsysmanage/css/html5.css">
<SCRIPT type="text/javascript" src="/static/Zrsysmanage/script/Public.js"></SCRIPT>
<script type="text/javascript">
//作用：全选
function selectall(){
  var setcheck,length;
  length = document.recordfrm.elements.length ;
  if (document.recordfrm.setall.value == 0){
    document.recordfrm.setall.value = 1;
    setcheck = true;
  }else{
    document.recordfrm.setall.value = 0;
    setcheck = false;
  }
  for (var i=0; i<length; i++) {
    if (document.recordfrm.elements[i].name.indexOf("record") != -1)
      document.recordfrm.elements[i].checked = setcheck;
  }
  return;
}

//作用：获取记录
function GetUserNo(){
  var length = document.recordfrm.elements.length;
  var recordindex="";
  var selectedstring="";
  var strValue="";
  var strMsg="0";
  var IsNote = document.recordfrm.IsNote.value;
  for (var i=(length-1); i>=0; i--){
    recordindex  = document.recordfrm.elements[i].name.indexOf("record");
    if (recordindex  != -1) {
      if (document.recordfrm.elements[i].checked){
        strValue = document.recordfrm.elements[i].value;
        intValue = strValue.length;
        if (selectedstring == ""){
          selectedstring = strValue;
        }else{
          selectedstring = selectedstring  + "," + strValue;
        }
      }
    }
    //读取是否发送短信提示------------
    if (IsNote=="4")
    {
       strMsg = document.recordfrm.msgtype.value;
    }else
    {
      recordindex  = document.recordfrm.elements[i].name.indexOf("msgtype");
      if (recordindex  != -1) {
        if (document.recordfrm.elements[i].checked){
          strMsg = document.recordfrm.elements[i].value;
        }
      }
    }
    //-----------------------------
  }
  if (selectedstring != "") {
      selectedstring = selectedstring  +"/"+strMsg;

      return selectedstring;
  }else {
      //alert("请选择要提交操作的用户!");
  }
  return selectedstring;
}

function selectOnclick(id)
{
    if (document.getElementById(id).checked==true)
    {document.getElementById(id).checked='';}
    else
    {document.getElementById(id).checked='checked';}
}

function DeptOnclick(id)
{
    var isdo;
    if (document.getElementById(id).checked==true)
    {
     document.getElementById(id).checked='checked';
     isdo = true;
     }
    else
    {
     document.getElementById(id).checked='';
     isdo = false;
    }

  var length;
  length = document.recordfrm.elements.length ;

  for (var i=0; i<length; i++) {
    if (document.recordfrm.elements[i].name.indexOf(id+"record") != -1)
    {document.recordfrm.elements[i].checked = isdo;}
  }
}
</script>
<BODY class="UserListBody" >
	<FORM method="post" name="recordfrm" action="">
		<input type="hidden" name="setall" value="0">
		<input type="hidden" name="IsAttMessage" th:value="${IsAttMessage}">
		<input type="hidden" name="IsNote" th:value="${IsNote}">
		<TABLE  border="0" width="200px" cellpadding=0 cellspacing=0 th:utext="${UserList}">
		</TABLE>
	</FORM>
</BODY>
</html>