<!Doctype html>
<html>
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/vue/element-ui/lib/theme-chalk/index.css" >
<link rel="stylesheet" type="text/css" href="/static/vue/element-ui/lib/theme-chalk/html.css" >
<script type="text/javascript" src="/static/vue/jquery-1_15.9.1.min.js"></script>
<script type="text/javascript" src="/static/vue/vue.min.js" ></script>
<script type="text/javascript" src="/static/vue/element-ui/lib/index.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/vue/layer/layer.js"></script>
<script type="text/javascript" src="/static/vue/ZRutils.js"></script>
<script type="text/javascript" src="/static/vue/ZRicon.js"></script>
<style type="text/css">
table {
   font-size: 12px;
}
.container {
    padding: 10px;
}
</style>
</head>
<body style="margin:0px;background:white;">
	<div id="list" class="table" v-loading="htmlLoading">
	    <div class="handle-box" >
                    <el-input v-model="form.ID" placeholder="流程运转编号" class="handle-input mr10"></el-input>
                    <el-date-picker v-model="form.FDATE" type="daterange" clearable size="small" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期" value-format="yyyy-MM-dd"></el-date-picker>
                    <el-button type="primary" size="small" icon="el-icon-search" @click="doSearch">查询</el-button>
                    <el-button type="primary" size="small" icon="el-icon-edit-outline" @click="doAdd">查看流程</el-button>
                </div>
                <el-table :data="data" highlight-current-row @row-click="onclick" :height="tableHeight">
                    <el-table-column type="index" fixed width="35"></el-table-column>
                    <el-table-column prop="ID" label="流程运转编号" width="200"></el-table-column>
                    <el-table-column prop="NAME" label="流程名称/当前步骤" ></el-table-column>
                    <el-table-column prop="CREATEDATE" label="创建日期" width="200"></el-table-column>
                    <el-table-column prop="FACCEPTPSN" label="已处理人" width="200"></el-table-column>
                    <el-table-column prop="ACCEPTPSN" label="未处理人" width="200"></el-table-column>
                    
                </el-table>
                <div class="pagination">
                   <el-pagination background @current-change="handleCurrentChange" :page-size="limit" layout="total,prev,pager,next" :total="total"></el-pagination>
                </div>
	</div>
<script type="text/javascript" th:inline="javascript">
var vh = $(document).height();
var $thisvue;
var vm2 = new Vue({
    el: '#list',
    name: 'flow_list',
    data() {
        return {
            htmlLoading:true,//全局加载
            rowsloadtitle:'数据加载...',

            rows:[],
            page:1,//当前页码
            limit: 20, //每页多少条
            total: 0, //总数据
            
            cellRow:null,
            tableHeight:vh-90,
            
            form:{
            	ID:'',
            	FDATE:[],
            	Act:'xmfb1ywtxm',
            	putIFBLTS:'0',
            }
        }
    },
    created() {
    	let e = this;
    	$thisvue = this
    },
    mounted(){
    	this.$nextTick(() => {
		    this.htmlLoading = false
		    this.init_flowlist()
        })
    },
    computed: {
    	data() {
            return this.rows
        }
    },
    methods: {
    	init_flowlist(){
    		let e = this
    		e.cellRow = null
    		e.form.page = e.page
    		let obj = e.form
    		if(e.form.FDATE!=null&&e.form.FDATE.length==2){
    			obj.FDATE1 = e.form.FDATE[0]
    			obj.FDATE2 = e.form.FDATE[1]
    		}
    		let url ='/flowdata/json?method=flowGetProList2'
    		$.get(url,obj,function(json){
    			e.rows=json.rows //JSON.parse(json)
    			e.total = parseInt(json.total)
    		})
    	},
    	// 分页导航
        handleCurrentChange(val) {
            this.page = val
            this.init_flowlist()
        },
    	onclick(row, column, event) {
            this.cellRow = row
        },
        doSearch(){
        	this.init_flowlist()
        },
        doAdd(){
        	doAdd()
        },
    }
});

function doAdd(){
	var row = $thisvue.cellRow;
    if (row) {
       var w,h,s;
       var MenuWindow = null;
       w = screen.availWidth - 4;
       h = screen.availHeight - 10;
       s = "directories=no,left=0,top=0,location=no,menubar=no,resizable=yes,scrollbars=no,status=no,toolbar=no,width=" + w + ",height=" + h;
       MenuWindow = window.open("/flow/openflowcfg?Act=doflow&ID="+row.ID,"FlowWindow",s);
       MenuWindow.moveTo(-4,-4);
       MenuWindow.focus();
    }else{
   	 	layer.msg('请选择要查看的流程！');
    }
}

</script>
<style scoped>
.handle-box {
    margin-bottom: 0px;
}

.handle-select {
    width: 120px;
}

.handle-input {
    width: 200px;
    display: inline-block;
}

.del-dialog-cnt {
    font-size: 16px;
    text-align: center
}

.table {
    width: 100%;
    font-size: 14px;
}

.red {
    color: #ff0000;
}
</style>
</body>
</html>