<!Doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>南方智软科技</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="x5-fullscreen" content="true">
  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">
  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
   <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <meta name="msapplication-TileImage" content="/static/assets/i/app-icon72x72@2x.png">
  <meta name="msapplication-TileColor" content="#0e90d2">

  <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
  <link rel="icon" sizes="192x192" href="/static/assets/i/app-icon72x72@2x.png">
  <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
  <link rel="stylesheet" href="/static/assets/font_icon/css/font-awesome.css">
  <link rel="stylesheet" href="/static/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="/static/assets/css/app.css">
</head>
<body>
  <!-- header  start -->
  <header data-am-widget="header" class="am-header am-header-default am-header-fixed">
      <div class="am-header-left am-header-nav">
          <a href="javascript:history.go(-1);" class="">
                <i class="am-header-icon am-icon-chevron-left"></i>
          </a>
      </div>
      <h1 class="am-header-title">
          <a href="#title-link" class="">
            查询引擎
          </a>
      </h1>
  </header>
  <!-- header  end -->

  <!-- main  start -->
  <div class="main-contor">
     <ul class="am-list m-widget-list am-list-border">
       <li>
        <a href="/iframe?page=ZrPhoneEngine/query_model.html" data-rel="一般查询示例">
        <span class="widget-name">一般查询示例</span></a>
       </li>
       <li>
        <a href="##" data-rel="数据操作式查询示例">
        <span class="widget-name">数据操作式查询示例</span></a>
       </li>
       <li>
        <a href="##" data-rel="条件与结果分离查询示例">
        <span class="widget-name">条件与结果分离查询示例</span></a>
       </li>
    </ul>
  </div>
  <!-- main  end -->

<!--在这里编写你的代码-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/static/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/static/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="/static/assets/js/hide-address-bar.js"></script>
</body>
</html>